name: release-python-sdk

on:
  push:
    tags:
      - "sdk-python-v*"

permissions:
  contents: read

jobs:
  build-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Build distributions
        run: |
          python -m pip install --upgrade pip build twine
          cd open/sdk/python
          python -m build
          python -m twine check dist/*
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: open/sdk/python/dist
          password: ${{ secrets.PYPI_API_TOKEN }}
